In [1]:
import pandas as pd
from consts import *
import autokeras as ak
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv(hotel_reservations_file_location)
df.head(10)

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
5,INN00006,2,0,0,2,Meal Plan 2,0,Room_Type 1,346,2018,9,13,Online,0,0,0,115.00,1,Canceled
6,INN00007,2,0,1,3,Meal Plan 1,0,Room_Type 1,34,2017,10,15,Online,0,0,0,107.55,1,Not_Canceled
7,INN00008,2,0,1,3,Meal Plan 1,0,Room_Type 4,83,2018,12,26,Online,0,0,0,105.61,1,Not_Canceled
8,INN00009,3,0,0,4,Meal Plan 1,0,Room_Type 1,121,2018,7,6,Offline,0,0,0,96.90,1,Not_Canceled
9,INN00010,2,0,0,5,Meal Plan 1,0,Room_Type 4,44,2018,10,18,Online,0,0,0,133.44,3,Not_Canceled

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 19 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Booking_ID                            36275 non-null  object
 1   no_of_adults                          36275 non-null  int64
 2   no_of_children                        36275 non-null  int64
 3   no_of_weekend_nights                  36275 non-null  int64
 4   no_of_week_nights                     36275 non-null  int64
 5   type_of_meal_plan                     36275 non-null  object
 6   required_car_parking_space            36275 non-null  int64
 7   room_type_reserved                    36275 non-null  object
 8   lead_time                             36275 non-null  int64
 9   arrival_year                          36275 non-null  int64
 10  arrival_month                         36275 non-null  int64
 11  arrival_date                          36275 non-null  int64
 12  market_segment_type                   36275 non-null  object
 13  repeated_guest                        36275 non-null  int64
 14  no_of_previous_cancellations          36275 non-null  int64
 15  no_of_previous_bookings_not_canceled  36275 non-null  int64
 16  avg_price_per_room                    36275 non-null  float64
 17  no_of_special_requests                36275 non-null  int64
 18  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(5)
memory usage: 5.3+ MB

In [4]:
df.drop(['Booking_ID'], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36275 entries, 0 to 36274
Data columns (total 18 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   no_of_adults                          36275 non-null  int64
 1   no_of_children                        36275 non-null  int64
 2   no_of_weekend_nights                  36275 non-null  int64
 3   no_of_week_nights                     36275 non-null  int64
 4   type_of_meal_plan                     36275 non-null  object
 5   required_car_parking_space            36275 non-null  int64
 6   room_type_reserved                    36275 non-null  object
 7   lead_time                             36275 non-null  int64
 8   arrival_year                          36275 non-null  int64
 9   arrival_month                         36275 non-null  int64
 10  arrival_date                          36275 non-null  int64
 11  market_segment_type                   36275 non-null  object
 12  repeated_guest                        36275 non-null  int64
 13  no_of_previous_cancellations          36275 non-null  int64
 14  no_of_previous_bookings_not_canceled  36275 non-null  int64
 15  avg_price_per_room                    36275 non-null  float64
 16  no_of_special_requests                36275 non-null  int64
 17  booking_status                        36275 non-null  object
dtypes: float64(1), int64(13), object(4)
memory usage: 5.0+ MB

In [5]:
le_meal_plan = LabelEncoder()
le_room_type = LabelEncoder()
le_market_seg_type = LabelEncoder()
le_booking_status = LabelEncoder()


df.type_of_meal_plan = le_meal_plan.fit_transform(df.type_of_meal_plan)
df.room_type_reserved = le_room_type.fit_transform(df.room_type_reserved)
df.market_segment_type = le_market_seg_type.fit_transform(df.market_segment_type)
df.booking_status = le_booking_status.fit_transform(df.booking_status)

print(
    le_meal_plan.classes_,
    le_room_type.classes_,
    le_market_seg_type.classes_,
    le_booking_status.classes_,
)

['Meal Plan 1' 'Meal Plan 2' 'Meal Plan 3' 'Not Selected'] ['Room_Type 1' 'Room_Type 2' 'Room_Type 3' 'Room_Type 4' 'Room_Type 5'
 'Room_Type 6' 'Room_Type 7'] ['Aviation' 'Complementary' 'Corporate' 'Offline' 'Online'] ['Canceled' 'Not_Canceled']

In [6]:
df = df.sample(frac=1.0)
df.head(10)

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
10103,2,0,0,2,0,0,3,23,2018,10,28,4,0,0,0,145.00,2,1
8400,3,0,0,1,0,0,0,8,2018,11,5,3,0,0,0,160.00,0,1
9524,2,0,2,4,0,0,3,10,2017,9,5,4,0,0,0,110.08,1,1
5826,2,0,0,2,3,0,0,51,2018,10,5,4,0,0,0,108.00,1,1
18271,1,0,0,1,0,0,0,8,2018,2,19,2,0,0,0,81.00,0,1
30038,2,2,1,0,0,0,5,54,2018,7,10,4,0,0,0,156.93,2,1
229,1,0,1,2,0,0,0,32,2018,2,5,4,0,0,0,72.90,0,0
30300,2,0,1,4,3,0,0,69,2018,10,31,4,0,0,0,79.38,2,0
18689,2,0,1,3,1,0,3,136,2018,12,26,4,0,0,0,138.76,1,0
9368,2,0,2,2,0,0,0,104,2018,7,3,4,0,0,0,114.30,1,1

In [7]:
df.to_csv(modified_hotel_reservations_csv_file_path, index=False)